body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin-block-start: 0em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.img-logo{
  padding:10px;
}

 h1{
  margin-block-start: 0em;
  color:#a1abaf;
}
/*
.header{
  background-image : url('./Images/background.png');
  background-size: cover;
  height:100vh;
}

.social-wrapper{
  position: relative;
  display: block;
}

.social-list{
  background-image: url('./Images/social.png');
  background-size: cover;
  width:90px;
  margin:150px 0 150px 0;
  margin-left: -10px;
}

.social-list li{
  padding:20px;
} */

.header{
  background: #b2bec3;
  padding-bottom:5px;
}
.avatar{
  display: block;
  margin: auto;
  max-width:300px;
  width: 100%;
}
.avatar-name{
  text-align: center;
  padding-top:5px;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-weight: 900;
}

.avatar-content{
  padding: 00px 0px;
  text-align: justify;
}

.avatar-info{
  padding:15px;
}

.info-wrapper{
  border: 1px solid red;
}
.bold{
  font-weight: bold;
  padding-bottom:15px;
}
.social-logo{
  width:100%;
  max-width: 25px;
  margin-top:15px;
}
.social-list{
  /* display: flex; */
  display: inline;
}
.social-list li{
  display: inline;
  padding:15px;
}
.button-wrapper{
  padding-top:15px;
}
th{
  background: black;
  color:white;
}

table{
  margin-bottom:50px;
}

#port-info{
  display: block;
  margin:auto;
  padding: 0 0px
}

.contact-wrapper{
  margin-top:50px;
}

.padding-left-15{
  padding-left:15px;
}

@media screen and (max-width: 900px){
  .media-query-100-width-container{
    width: 100% !important;
  }
}

@media screen and (max-width:771px){

  .media-query-row{
    display: flex !important;
    flex-direction: column;
  }

  .media-query-col-6{
    width:100% !important;
  }

  .avatar-title, .avatar-subtitle{
    text-align: center;
  }
  
  .avatar-info{
    width:100% !important;
    margin : 0px 0px;
  }

  .avatar-skills{
    width:100% !important;
    margin-top: 25px;
  }

  .avatar-social{
    width: 100% !important;
    margin-top: 25px
  }
}